@charset "UTF-8";

div.css-dropdown-wrap
{
    position: absolute;
    border: 1px solid $base01;
    border-radius: 2px;

    ul
    {
        @extend .z-depth-2;

        color: $base3;
        background-color: $base02;
        border-radius: inherit;
        z-index: 999;
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 4px 0;
        min-width: 200px;
        max-width: 500px;
        width: max-content;
        max-height: 400px;

        li
        {
            @include clickable($blue);

            clear: both;
            line-height: 1.5rem;
            text-align: left;
            padding: 8px 28px;
            text-transform: none;

            &.divider
            {
                min-height: 0;
                height: 1px;
                padding: 0;
                margin: 2px 16px;
                border-bottom: 1px solid $base01;
                opacity: 0.33;
            }
        }
    }
}

