@charset "UTF-8";

// Normalize
@import "normalize";

// Config: mixins and variables
@import "config";

// Components
@import "../components/processes/processes";
@import "../components/dropdown/dropdown";

// Global styles
html
{
    box-sizing: border-box;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}

.css-body-wrap
{
    background-color: $base03;
    color: $base0;

    .css-container
    {
        margin: 0 auto;
        max-width: 1280px;
        width: 90%;
    }
}

