@charset "UTF-8";

// Normalize
@import "normalize";

// Config: mixins and variables
@import "config";

// Components
@import "../components/processes/Processes";
@import "../components/dropdown/Dropdown";

// Global styles
*,
*:before,
*:after
{
    box-sizing: inherit;
}

html
{
    background-color: $base03;
    color: $base0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    height: 100vh;

    body
    {
        div.css-body-wrap
        {
            div.css-container
            {
                margin: 0 auto;
                max-width: 1280px;
                width: 90%;
            }
        }
    }
}

