@charset "UTF-8";

/**
 * This file contains Sassy CSS for index.html.
 */

@import "components/color";

@mixin highlight()
{
    @extend .blue-grey, .darken-3;
    @extend .blue-grey-text, .text-lighten-5;
}

@mixin defaultText()
{
    @extend .blue-grey-text, .text-lighten-3;
}

@mixin noSelect()
{
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/**
 * ( TODO: Move global styles into global.scss )
 * Global Styles
 */

html
{
    font-weight: 300;
}

.css-body-wrap
{
    @extend .blue-grey, .darken-4;
    @include defaultText();
}

a
{
    @include defaultText();
}

/**
 * ( TODO: Move processes styles into processes.scss )
 * Processes Styles
 */

.css-process-data
{
    @include noSelect();

    &:hover
    {
        cursor: default;
        @include highlight();
    }
}

.css-process-header-title
{
    @include noSelect();

    &:hover
    {
        cursor: pointer;
        @include highlight();
    }
}

thead
{
    border-bottom-color: color("blue-grey", "darken-3");
}

