@charset "UTF-8";

table.css-process-wrap
{
    width: 100%;
    display: table;
    text-align: center;
    border: none;
    border-collapse: collapse;

    thead.css-process-header-wrap
    {
        @extend .z-depth-1;
    }

    td,
    th.css-process-header
    {
        padding: 15px 5px;
        display: table-cell;
        vertical-align: middle;
    }

    th.css-process-header
    {
        cursor: pointer;
        color: $base2;
    }

    tr.css-process-data,
    th.css-process-header
    {
        transition: background-color .25s ease;

        &:hover
        {
            background-color: $base02;
        }
    }
}

