@charset  "UTF-8";

@import "../../sass/config";

@mixin highlight-background()
{
    @extend .blue-grey, .darken-3;
}

.css-process-wrap
{
    .css-process-header-wrap
    {
        border-bottom: none;

        @extend .z-depth-1;

        .css-process-header-title
        {
            transition: background-color .25s ease;

            &:hover
            {
                cursor: pointer;
                @include highlight-background();
            }
        }
    }

    .css-process-data
    {
        &:hover
        {
            cursor: default;
            @include highlight-background();
        }
    }
}

