@charset "UTF-8";

// A note about that "hoverable" class -> http://stackoverflow.com/questions/29211100

.table-data-spacing
{
    padding: 15px 5px;
    display: table-cell;
    vertical-align: middle;
}

table.css-process-wrap
{
    width: 100%;
    border: none;
    display: table;
    text-align: center;
    border-collapse: collapse;

    thead.css-process-header-wrap
    {
        @extend .z-depth-1;

        th.css-process-header
        {
            @include clickable($blue, $base3)
            {
                @extend.z-depth-2;
            }

            @extend .table-data-spacing;

            color: $base2;
        }
    }

    tr.css-process-data
    {
        @include hoverable($base02, $base2);

        td
        {
            @extend .table-data-spacing;
        }

        &.css-process-data.hidden
        {
            @include hoverable($base02, $base01);

            color: $base02;
        }

        &.css-process-data.no-display
        {
            display: none;
        }
    }
}

input.css-process-search
{
    @extend .z-depth-1;

    border-radius: 2px;
    font-size: larger;
    outline: none;
    border: none;
    width: 40%;

    margin: 16px 0;
    padding: 6px 12px;

    background-color: $base02;
    color: $base1;

    transition: box-shadow #{$transition-style};

    &:hover,
    &:focus
    {
        @extend .z-depth-3;
    }

    &::-webkit-input-placeholder
    {
        color: $base01;
    }
}

