<!-- TODO: Separate styles for processes from styles.scss -->
<!-- <link rel="stylesheet" href="./sass/processes.css" type="text/css"> -->

<template id="processes-template">
    <table class="highlight centered css-process-wrap">

        <thead class="js-process-header-wrap css-process-header-wrap">
            <!-- Data from ./showProcesses.js -->
        </thead>

        <tbody class="js-process-data-wrap">
            <!-- Data from ./showProcesses.js -->
        </tbody>

        <!-- Dropdown menu -->
        <ul id="js-process-data-row" class="dropdown-content css-process-dropdown-content">
            <!-- Data from ./showProcesses.js -->
            <!-- <li><a>Dropdown option 1</a></li> -->
            <!-- <li><a>Dropdown option 2</a></li> -->
        </ul>

    </table>
</template>

<script src="./showProcesses.js" type="text/javascript"></script>

